<div class="page-header">
  <%= link_to recipe_apps_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_recipe_app_path(@recipe_app), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show recipe_app</h1>
</div>

<dl class="dl-horizontal">
  <dt>Page:</dt>
  <dd><%= @recipe_app.page %></dd>

  <dt>Dish:</dt>
  <dd><%= @recipe_app.dish %></dd>

  <dt>Ingredient 1:</dt>
  <dd><%= @recipe_app.ingredient_1 %></dd>

  <dt>Ingredient 2:</dt>
  <dd><%= @recipe_app.ingredient_2 %></dd>

  <dt>Ingredient 3:</dt>
  <dd><%= @recipe_app.ingredient_3 %></dd>

</dl>
